<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pixabay Image Search</title>
	<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
	<script src="./vendor/js/angular.min.js"></script>
	<script src="./app/app.js"></script>



</head>
<body >
<div class="container-fluid" ng-app="pixabay" ng-controller="AppCtrl">

	
		<div class="form-group">
			<label for="">Search Image</label>
			<input type="text" class="form-control" id="" placeholder="Input field" ng-model="query">
		</div>
	
		
	
		<button type="submit" class="btn btn-primary" ng-click="getImage()" >Search</button>

			<div class="row">
				<div class="col-md-4" data-ng-repeat="url in imageurls" >
					<img src="{{url}}" class="img-responsive" alt="Image">
				</div>
			</div>

		<br><br>
		<!-- <span ng-show="verify" style="color:green">{{verify}}</span>
		<span ng-show="unverify" style="color:red">{{unverify}}</span> -->

</div>
	
</body>
<script src="vendor/js/jquery.js"></script>
<script src="vendor/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

</html>